*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body */
body{
  font-family: 'Raleway', sans-serif;
}
/* page */
.page{
  width: 1100px;
  margin: 20px auto;
}
/* header */
header {
  position: relative;
  height:300px;
}
/* header top */
.headertop{
 position: relative;
 height: 250px;
 border: 10px solid white;
 background-image: url(../img/natural-header.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
.intestazione {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.logo{
  width: 100%;
  height: auto;
}
/* header bottom */
.headerbottom{
  height: 50px;
  width: 100%;
  background-color: #504741;
}
/* menu */
.menu .lista{
  list-style: none;
  text-align: center;
  line-height: 50px;
}
.lista li{
display: inline-block;
}
.menu .lista li a{
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: #F9F9F9;
  text-shadow: 1px 1px rgba(0, 0, 0,0.4);
  text-transform: uppercase;
  border-right: 1px solid #0006;
  border-left: 1px solid #45413C;
}
.lista li:last-child a{
  border-right: 0;
}
.lista li:first-child a{
  border-left: 0;
}
/* main */
main:after {
  content: "";
  display: table;
  clear: both;
}
main {
  background-color: green;
  padding: 10px 0;
}
/* colonne */
.colonna{
  float: left;
  /* height: 400px;
  width: 200px; */
  padding: 10px;
}
.colonna {
  background-color: white;
  border-radius: 3%;
}
/* colonna sinistra */
.sinistra {
  width: 22%;
}
.sinistra .title:after{
  content: "";
  display: table;
  clear: both;
}
.title .icon{
  float: left;
  margin-right: 5px;
  font-size: 20px;
  color: orange;
}
.title h3 {
  float: left;
  width: 60%;
}
/* colonna centro */
.centro{
  width: 50%;
  background-color: lightblue;
  margin: 0 3%;
}
.leftlist {
  list-style: none;
  text-decoration: none;
}
/* colonna destra */
.destra{
  width: 22%;
  background-color: pink;
}
/* boxes */
.destra .box{
  border: 3px solid black;
  margin-bottom: 5px;
}
/* footer */
footer{
  height: 200px;
  background-color: yellow;
}
