*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body */
body{
  font-family: 'Raleway', sans-serif;
}
/* page */
.page{
  width: 1100px;
  margin: 20px auto;
  padding: 20px;
  background-image: url(../img/natural-pattern.png);
}
/* header */
header {
  position: relative;
  /* height:300px; */
}
/* header top */
.headertop{
 position: relative;
 height: 250px;
 border: 10px solid white;
 background-image: url(../img/natural-header.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
.intestazione {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.logo{
  width: 70%;
  height: auto;
}
/* header bottom */
.headerbottom{
  height: 50px;
  width: 100%;
  background-color: #504741;
}
/* menu */
.menu .lista{
  list-style: none;
  text-align: center;
  line-height: 50px;
}
.lista li{
display: inline-block;
}
.menu .lista li a{
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: #F9F9F9;
  text-shadow: 1px 1px rgba(0, 0, 0,0.4);
  text-transform: uppercase;
  border-right: 1px solid #0006;
  border-left: 1px solid #45413C;
}
.lista li:last-child a{
  border-right: 0;
}
.lista li:first-child a{
  border-left: 0;
}
.menu .lista li a:hover{
  background-color: darkgrey;
}
/* main */
main:after {
  content: "";
  display: table;
  clear: both;
}
main {
  padding: 10px 0;
}
/* colonne */
.colonna{
  float: left;
  /* height: 400px;
  width: 200px; */
  padding: 10px;
}
.colonna {
  border-radius: 3%;
}

/* colonna sinistra */
.sinistra {
  width: 22%;
  background-color: white;
}
.sinistra .title:after{
  content: "";
  display: table;
  clear: both;
}
.title .icon{
  float: left;
  margin-right: 5px;
  font-size: 20px;
  color: orange;
}
.title h3 {
  float: left;
  width: 60%;
  text-shadow: 0.5px 0.5px black;
  margin-bottom: 10px;
}

/* ul */
.leftlist {
  list-style: none;
}
.leftlist li a{
  text-decoration: none;
  color: green;
}
.leftlist li{
  margin-bottom: 10px;
}
/* colonna centro */
.centro{
  width: 50%;
  margin: 0 3%;
  background-color: white;
}
.centro h2 {
  font-size: 30px;
  text-shadow: 3px 3px gray;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.centro .text {
 line-height: 24px;
 margin-bottom: 10px;
 text-align: justify;
}
.testlink{
  color: green;
  text-decoration: none;
}
/* colonna destra */
.destra{
  width: 22%;
  padding: 0;
}
/* boxes */
.destra .box{
  padding: 10px;
  border-radius: 3%;
  margin-bottom: 15px;
  background-color: white;
  text-align: justify;
}
.destra .box .boxtitle{
  margin-bottom: 25px;
  text-shadow: 0.5px 0.5px black;
}
/* footer */
footer{
  width: 100%;
  padding: 10px;
  color: lightgrey;
  background-color: white;
  border-radius: 3px;
}
.footer-top {
  text-align: center;
  font-style: italic;
  padding: 5px;
}

.footer-bottom:after {
  content: "";
  display: table;
  clear: both;
}
.footer-col{
 float: left;
 width: calc(100%/3);
 text-align: center;
 padding:20px;
}
.footer-col i{
  font-size: 30px;
}
